<div class="landing-page">
  <app-header></app-header>

  <section class="part_1">
    <div class="badge">
      <span class="material-icons">wifi</span>
      Solution innovante avec surveillance en temps réel
    </div>
    <br/>

    <h1 class="titre">
      Gestion Intelligente <br />
      <span>des Déchets pour des Villes Durables</span>
    </h1>

    <p class="sous-titre">
      Réduisez les coûts opérationnels, optimisez les itinéraires de collecte
      et construisez des villes plus propres et plus intelligentes grâce
      au monitoring IoT en temps réel.
    </p>

    <button routerLink="/login" class="but b1">
      Commencer →
    </button>
  </section>


  <section class="description">
    <div class="des-0"> 

      <div class="des"> 
      <div class="icon"><mat-icon fontSet="material-symbols-outlined">delete</mat-icon></div>


        <h3>Poubelles Intelligentes</h3>
        <p>Surveillance du niveau de remplissage en temps réel</p>  
      </div>

      <div class="des"> 
        <div class="icon"><mat-icon fontSet="material-symbols-outlined">neurology</mat-icon></div>
        <h3>Optimisation</h3>
        <p>Planification prédictive des itinéraires</p>  
      </div>

      <div class="des"> 
        <div class="icon"><mat-icon fontSet="material-symbols-outlined">local_shipping</mat-icon></div>
        <h3>Suivi de Flotte</h3>
        <p>Suivi GPS en direct</p>  
      </div>

    </div>
  </section>


  <section class="steps">

    <div class="section-header">
      <h2>Comment faire un rapport</h2>
      <p>Des outils puissants pour moderniser la gestion des déchets</p>
    </div>

    <div class="cards-container">

      <div class="card">
        <div class="icon">
          <span class="material-icons">photo_camera</span>
        </div>
        <h3>Prendre une photo</h3>
        <p>Prenez une photo claire du problème à signaler</p>
      </div>

      <div class="card">
        <div class="icon">
          <span class="material-icons">keyboard_arrow_down</span>
        </div>
        <h3>Cliquer sur le bouton "signaler"</h3>
        <p>Accédez à la page de signalement</p>
      </div>

      <div class="card">
        <div class="icon">
          <span class="material-icons">upload</span>
        </div>
        <h3>Télécharger la photo</h3>
        <p>Ajoutez l’image du déchet </p>
      </div>

      <div class="card">
        <div class="icon">
          <span class="material-icons">location_on</span>
        </div>
        <h3>Sélectionner la localisation</h3>
        <p>Indiquez l’emplacement exact du déchet</p>
      </div>

      <div class="card">
        <div class="icon">
          <span class="material-icons">description</span>
        </div>
        <h3>Écrire une description</h3>
        <p>Ajoutez des détails sur l’état ou la situation</p>
      </div>

      <div class="card">
        <div class="icon">
          <span class="material-icons">send</span>
        </div>
        <h3>Envoyer le rapport</h3>
        <p>Soumettez votre signalement en quelques secondes</p>
      </div>

    </div>

    <button routerLink="/rapport-user" class="but b3">
      → signaler
    </button>

  </section>


  <section class="fin-page">
    <div class="fin">
      <h2>Contactez-nous</h2>
      <p>
        Vous avez des questions ou souhaitez en savoir plus ?
        Contactez notre équipe !
      </p>
    </div>

    <button class="b2">↓</button>
  </section>

  <app-footer></app-footer>
</div>
