.container {
    position :relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 65px;
    background-color: #f7f7f7;
    border: #dddddd solid 0.25px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 30px;
    box-shadow: #d3d3d3 0.25px 0.5px 5px;
}
.mode{
    border: none;
    justify-content: flex-end;
    right: 150px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    height: 35px;
    width:40px;
    border-radius: 15px;
 

}
body.dark{
  background: #0b1220;
  color: #e5e7eb;
}
.mode:hover{
    background-color: #10b981;
    color:white;
    
    
}
.material-icons{
    font-size: 18px;
    color: transparent;
   -webkit-text-stroke: 1.5px black; /* border k7el */
    }
.mode:hover .material-icons{
    color: transparent;
    -webkit-text-stroke: 1.5px #f5f8f7; /* border k7el */
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0f0f0f;
    margin-left: 20px;}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;  
    
    width:100%;
    
      

}
.nav{
    position:absolute;
    justify-content: flex-start;
    left:550px;
    gap:30px;
    display: flex;
    
}
.nav a{
    
    text-decoration: none;
    
    font-weight: 500;
    color: #374151;
}
.login{
    
    position:   absolute;
    justify-content: flex-end;
    right: 50px;
    border: none;
    border-radius: 10px;
    background-color:transparent; 
    width: 80px;
    border:#10b981 solid 0.25px;
    height: 35px;
    color:#10b981;
    font-size: 14px;
 
}
.login:hover{
    background-color: #10b981;
    color:white;
    border: none;}
