<div class="container">
    <div class="header">
        <div class="logo">
        <img src="assets/logo.png" alt="Logo" />
        </div>
        <nav class="nav">
        <a href="#">Infos</a>
        <a href="#">signal</a>
        <a href="#">contact</a>
        </nav>
        
        <button class ='mode' (click)="toggleTheme()" class="mode">
            <span class="material-icons">
                {{ isDark ? 'light_mode' : 'dark_mode' }}
            </span>
        </button>
        <button routerLink="/login" class="login">Login</button>

    
</div>
</div>