<nav class="nav">
  <a
    [routerLink]="['/maintenance/dashboard']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon>grid_view</mat-icon>
    <span>Table de bord</span>
  </a>

  <a
    [routerLink]="['/maintenance/battery-captures']"
    routerLinkActive="active"
  >
    <mat-icon>battery_alert</mat-icon>
    <span>Batteries capteurs</span>
  </a>

  <a
    [routerLink]="['/maintenance/interventions']"
    routerLinkActive="active"
  >
    <mat-icon>build</mat-icon>
    <span>Interventions</span>
  </a>

  <a
    [routerLink]="['/maintenance/technician-alerts']"
    routerLinkActive="active"
  >
    <mat-icon>notifications</mat-icon>
    <span>Alertes technicien</span>
  </a>
</nav>